<!doctype html>
{% load static %}
<html class="no-js" lang="en">

    <head>
        <!-- META DATA -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
		
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
		
        <!-- TITLE OF SITE -->
        <title>Resell It Again</title>

        <!-- for title img -->
		<link rel="shortcut icon" type="image/icon" href="{% static 'assets/images/logo/favicon.png' %}"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
		
		<!--linear icon css-->
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
		
		<!--animate.css-->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
		
		<!--hover.css-->
        <link rel="stylesheet" href="{% static 'assets/css/hover-min.css' %}">
		
		<!--vedio player css-->
        <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">

		<!--owl.carousel.css-->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
		<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet"/>


        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- bootsnav -->
		<link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet"/>	
        
        <!--style.css-->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


        
      <!-- Alert -->
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

    <link rel="stylesheet" href="{% static 'assets/css/s_profile.css' %}">

    <style>
      .dropbtn {
        border: none;
        cursor: pointer;
      }

      .dropbtn img{
        border: none;
        background-color:black;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        padding-top:20px;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

      }
      
      .dropdown-content a:hover {background-color: #b623ff;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      /* .dropdown:hover .dropbtn {
        background-color: #3e8e41;
      } */
      </style>
    </head>
	
	<body>

     <!-- alert -->
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        {% for msg in messages %}
        alertify.set('notifier','position', 'top-right');
        alertify.success('{{msg}}');
        {% endfor %}
    </script>
    <!-- alert -->
    
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

		

		
	
		<!--menu start-->
		<section id="menu">
			<div class="container">
				<div class="menubar">
					<nav class="navbar navbar-default">
					
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="index.html">
								<!-- <img src="{% static 'assets/images/logo/logo.png' %}" alt="logo"> -->
                <h3 style="color: white;font-weight:bolder">ReSell It Again</h3>

							</a>
						</div><!--/.navbar-header -->

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="active">
                  <a href="{% url 'buyer:buyer_dashboard' user.id %}">Home</a>
                </li>
							
								
								<li>
                  <a href="{% url 'buyer:wishlist' user.id  %}"  >wishlist</a>
                </li>
                
								
								<li>
                  <a href="{% url 'buyer:b_feedback' user.id %}" style="color: white;font-size:larger;">Feedback</a><br>
                </li>

                <li>
                  <div class="dropdown" >
                    <button class="dropbtn">
                      <img src="{% static 'assets/images/profile1.png' %}" width="50px" height="50px" >
                    </button>
                    <div class="dropdown-content">
                      <a href="{% url 'buyer:show_profile' user.id  %}" style="color: black;padding-top:10px;">Profile</a>
                      
                      <a href="{% url 'buyer:buyer_logout' %}" style="color:rgb(243, 0, 0);">Logout</a>

                    </div>
                  </div>
                  

                </li>
								
								
							</ul><!-- / ul -->
						</div><!-- /.navbar-collapse -->
					</nav><!--/nav -->
				</div><!--/.menubar -->
			</div><!-- /.container -->

		</section><!--/#menu-->
		<!--menu end--> 
               
     <!-- The Modal -->
     <div class="modal" id="DaModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
       
    
          <!-- Modal body -->
          <div class="modal-body" style="font-size: 20px;color:black;">
           Do you want to delete your account ?
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" >
              <a href="{% url 'buyer:buyer_delete' user.id %}"  style="color:rgb(255, 255, 255);text-decoration:none;">Confirm Delete</a>
  
            </button>
          </div>
    
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6" style="text-align:center;margin-top:50px;">
                  


          
           


          </div>

          <article class="cssui-usercard">
            <div class="cssui-usercard__body">
              <header class="cssui-usercard__header">
                 <svg class="cssui-usercard__avatar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="230" height="230" fill="none"/><circle cx="128" cy="128" r="96" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><circle cx="128" cy="120" r="40" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><path d="M63.8,199.4a72,72,0,0,1,128.4,0" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/></svg>
                <div class="cssui-usercard__header-info">
                  <h3 class="cssui-usercard__name"><span class="cssui-usercard__name-label">{{user.Fullname}}</span></h3>
                  <span class="cssui-usercard__post">{{user.Username}}</span>
                </div>
              </header>
              <div class="cssui-usercard__content">
                <div class="cssui-slider">
        
                  <!-- the control elements of slider -->
        
                  <input id="slide1" type="radio" class="cssui-slider__switch cssui-usercard__switch" name="slider-controls" checked autofocus>
                  <label for="slide1" class="cssui-slider__control cssui-usercard__control"></label>
                  <input id="slide2" type="radio" class="cssui-slider__switch cssui-usercard__switch" name="slider-controls">
                  <label for="slide2" class="cssui-slider__control cssui-usercard__control"></label>
                  <input id="slide3" type="radio" class="cssui-slider__switch cssui-usercard__switch" name="slider-controls">
                  <label for="slide3" class="cssui-slider__control cssui-usercard__control"></label>
        
                  <div class="cssui-slider__slides">
        
                    <!-- first slide -->
        
                    <div class="cssui-slider__slide">
                      <h4 class="cssui-usercard__title">About me</h4>
                      <div class="cssui-usercard__stats">
                        <div class="cssui-stats cssui-usercard__stats-item">
                          <i class="cssui-icon icon-earth"></i>
                          <div class="cssui-stats__info cssui-usercard__stats-info">
                            <span class="cssui-stats__name cssui-usercard__stats-name">{{user.Email}}</span>
                            <span class="cssui-stats__value">Email</span>
                          </div>
                        </div>
                        <div class="cssui-stats cssui-usercard__stats-item">
                          <i class="cssui-icon icon-location"></i>
                          <div class="cssui-stats__info cssui-usercard__stats-info">
                            <span class="cssui-stats__name cssui-usercard__stats-name">{{user.Mobile}}</span>
                            <span class="cssui-stats__value">Mobile Number</span>
                          </div>
                        </div>
                        <div class="cssui-stats cssui-usercard__stats-item">
                          <i class="cssui-icon icon-calendar"></i>
                          <div class="cssui-stats__info cssui-usercard__stats-info">
                            <span class="cssui-stats__name cssui-usercard__stats-name">{{user.Age}}</span>
                            <span class="cssui-stats__value">Age</span>
                          </div>
                        </div>
                        <div class="cssui-stats cssui-usercard__stats-item">
                          <i class="cssui-icon icon-man-woman"></i>
                          <div class="cssui-stats__info cssui-usercard__stats-info">
                            <span class="cssui-stats__name cssui-usercard__stats-name">{{user.Gender}}</span>
                            <span class="cssui-stats__value">Gender</span>
                          </div>
                        </div>
                      </div>
                    </div>
        
                    
                    
        
                    
                  </div>
                </div>
              </div>
            </div>
            <footer class="cssui-usercard__footer">
              <button class="btn btn-primary">
                <a href="{% url 'buyer:buyer_update' user.id %}" style="color: white;">Update</a>
            </button> 
              
              <button class="btn btn-primary">
                <a href="{% url 'buyer:buyer_changepassword' user.id %}" style="color: white;">Change Password</a>
            </button>
                       <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DaModal">
          Delete Account
          </button>
         
               
            </footer>
          </article>
  </div>
</div>
          <ul class="pagination justify-content-center" >
            <li class="page-item active"><a class="page-link" href="{% url 'buyer:buyer_dashboard' user.id %}" style="margin-left: 600px;">Previous</a></li>
          </ul>
        
          

   <!--hm-footer start-->
  <section class="hm-footer">
    <div class="container">
      <div class="hm-footer-details">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="hm-footer-widget">
              <div class="hm-foot-title ">
                <div class="logo">
                  <a href="index.html">
                    <!-- <img src="{% static 'assets/images/logo/logo.png' %}" alt="logo" /> -->
                    <h3 style="color: white;font-weight:bolder">ReSell It Again</h3>

                  </a>
                </div><!-- /.logo-->
              </div><!--/.hm-foot-title-->
              <div class="hm-foot-para">
              </div><!--/.hm-foot-para-->
              <div class="hm-foot-icon">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
                </ul><!--/ul-->
              </div><!--/.hm-foot-icon-->
            </div><!--/.hm-footer-widget-->
          </div><!--/.col-->
          <div class=" col-md-2 col-sm-6 col-xs-12">
            <div class="hm-footer-widget">
              
            </div><!--/.hm-footer-widget-->
          </div><!--/.col-->
          <div class=" col-md-3 col-sm-6 col-xs-12">
            <div id="scroll-Top">
              <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div><!--/.scroll-Top-->
              </div><!--/.hm-foot-email-->
            </div><!--/.hm-footer-widget-->
          </div><!--/.col-->
        </div><!--/.row-->
      </div><!--/.hm-footer-details-->
    </div><!--/.container-->

  </section><!--/.hm-footer-details-->
  <!--hm-footer end-->
  
  <!-- footer-copyright start -->
  
  <!-- footer-copyright end -->



  <!-- jaquery link -->

  <script src="{% static 'assets/js/jquery.js' %}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      
      <!--modernizr.min.js-->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  
  
  <!--bootstrap.min.js-->
      <script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  
  <!-- bootsnav js -->
  <script src="{% static 'assets/js/bootsnav.js' %}"></script>
  
  <!-- for manu -->
  <script src="{% static 'assets/js/jquery.hc-sticky.min.js' %}" type="text/javascript"></script>

  
  <!-- vedio player js -->
  <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

      <!--owl.carousel.js-->
      <script type="text/javascript" src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  
  <!-- counter js -->
  <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
  
      <!--Custom JS-->
      <script type="text/javascript" src="{% static 'assets/js/jak-menusearch.js"></script>
      <script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>




</body>
</html>